#root {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

/* make the customizations */
.mid {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
$body-bg: rgb(81, 255, 0);
/* import bootstrap to set changes */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
